{{#if profile}}

<main>
    <section id="account_user_section">
        <div>
            <div id="account_picture_place">

            </div>
            <div id="account_user_info">
                <div>{{profile.user}}</div>
                <div>
                    <div>{{followers}}</div>
                    <div></div>
                </div>
            </div>
        </div>
        <div id="account_bio">

        </div>
    </section>
    <section id="account_posts">

    </section>
</main>

<!-- If user is not logged in and is trying to GET his /account -->  
{{else}}

    {{#if message_error}}
    <div class="message-error">{{message_error}}</div>
    {{/if}}
    {{#if mesage_success}}
    <div class="message_success">{{message_success}}</div>
    {{/if}}

<main id="main-without-account" class="main-centered-box main-centered-menu">
    <nav>
        <ul>
            <li><a href="/account/register" class="btn">Register</a></li>
            <li><a href="/account/login" class="btn">Login</a></li>
            <li><a href="/account/config" class="btn"><i class="bi bi-gear-fill"></i></a></li>
        </ul>
    </nav>
</main>
{{/if}}