{{#if profile}}

<main>
    <section id="account_user_section">
        <section id="account_user_flex_section">
            <div id="account_picture_place">

            </div>
            <div id="account_user_info">
                <div>
                    <div>{{profile.user}}</div>
                    <div id="follow_unfollow_div">
                        <a href="#" class="btn btn-small">+</a>
                    </div>
                </div>
                <div id="account_user_info_numbers">
                    <div>
                        <div>123</div>
                        <span>followers</span>
                    </div>
                    <div>
                        <div>123</div>
                        <span>following</span>
                    </div>
                    <div>
                        <div>123</div>
                        <span>posts</span>
                    </div>
                </div>
            </div>
        </section>
        <section id="account_bio">
            <div>
                {{profile.username}}
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa repellendus ut aliquam nam iure perspiciatis exercitationem debitis tenetur velit natus impedit, facere unde, est quas sunt! Repudiandae aspernatur quos dolorem.
        </section>
    </section>
    <section id="account_posts">

    </section>
</main>

<!-- If user is not logged in and is trying to GET his /account -->  
{{else}}

    {{#if message_error}}
    <div class="message-error">{{message_error}}</div>
    {{/if}}
    {{#if mesage_success}}
    <div class="message_success">{{message_success}}</div>
    {{/if}}

<main id="main-without-account" class="main-centered-box main-centered-menu">
    <menu>
        <a href="/account/register" class="btn btn-large">Register</a>
        <a href="/account/login" class="btn btn-large">Login</a>   
    </menu>
</main>
{{/if}}