<!--
    User's profile page

    TODO:
    -show profile's real number of followers and followings
    -show profile's real number of posts
    -show profile's posts
    -add profile picture
-->
{{#if profile}}

<main>
    <section id="account_user_section">
        <section id="account_user_display">
            <div id="account_picture_place">

            </div>
            <div>{{profile.username}}</div>

        </section>
        <section id="account_user_info_numbers">
            <div>
                <div>{{followersCount}}</div>
                <span>followers</span>
            </div>
            <div>
                <div>{{followingCount}}</div>
                <span>following</span>
            </div>
            <div>
                <div>{{postsCount}}</div>
                <span>recipes</span>
            </div>
        </section>
        <section id="account_user_interact_buttons">
            {{#if followButton}}
                <div>
                    <a href="#" class="btn btn-small btn-colors">seguir</a>
                </div>
                <div>
                    <a href="#" class="btn btn-small btn-danger">denunciar</a>
                </div>
            {{else}}
                <div>
                    <a href="" class="btn btn-large btn-colors">Configurar perfil</a>
                </div>
            {{/if}}
        </section>
        <section id="account_bio">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa repellendus ut aliquam nam iure perspiciatis exercitationem debitis tenetur velit natus impedit, facere unde, est quas sunt! Repudiandae aspernatur quos dolorem.
        </section>
    </section>
    <section id="account_posts">
        {{#each posts}}
            <div></div>
        {{/each}}
        <div>Teste</div>
        <div>Teste</div>
        <div>Teste</div>
        <div>Teste</div>
        
    </section>
</main>

<!-- If user is not logged in and is trying to GET his /account -->  
{{else}}

    {{#if message_error}}
    <div class="message-error">{{message_error}}</div>
    {{/if}}
    {{#if mesage_success}}
    <div class="message_success">{{message_success}}</div>
    {{/if}}

<main id="main-without-account" class="main-centered-box main-centered-menu">
    <menu>
        <a href="{{routes.register}}" class="btn btn-large btn-colors">Register</a>
        <a href="{{routes.login}}" class="btn btn-large btn-colors">Login</a>   
    </menu>
</main>
{{/if}}