<main>
    <h1>Report {{report._id}}</h1>
    <small>Reporter: {{report.reporter}}</small>

    <h2>Details</h2>
    <p><strong>Report's target:</strong> {{report.target}}</p>
    <p><strong>Reason:</strong> {{report.reason}}</p>

    <h3>Comment</h3>
    <p>{{report.comment}}</p>

    <small><strong>createdAt:</strong> {{report.createdAt}}</small>
    <p><strong>status:</strong> {{report.status}}</p>

</main>