<main>
{{#each posts}}
    <article id="mainPage_article_post">
        <a href="{{@root.routes.posts.id}}/{{this._id}}">
            <div>
                {{#if this.imagePath}}
                <img src="/{{this.imagePath}}" alt="{{this.title}}">
                {{/if}}
            </div>
            <h1>{{this.title}}</h1>
        </a>
    </article>
{{/each}}
</main>