<main id="post_main_box">
    {{#if post}}
        <h1>{{post.title}}</h1>

        {{#if post.imageSrc}}
        <div id="post_image_box">
            <img src="{{post.imageSrc}}" alt="">
        </div>
        {{/if}}

        <h2>Ingredientes</h2>
        <ul>
            {{#each post.ingredients}}
                <li>{{this}}</li>               
            {{/each}}
        </ul>

        <h2>Método de preparo</h2>

        <p>{{post.method}}</p>
    {{else}}

        <h1>Error</h1>

    {{/if}}
</main>