<main>
    {{#if category}}
    <form action="{{routes.admin.category.update}}" method="post">
        <input type="hidden" name="categoryId" id="categoryId" value="{{category._id}}">
        <input type="text" name="newCategoryName" id="newCategoryName" value="{{category.category}}" placeholder="{{category.category}}">
        <button class="btn btn-large" type="submit">Edit</button>
    </form>

    {{else}}

    <h1>Error</h1>

    {{/if}}
</main>